
p {
    font-size: 15px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
head {
    align-items: center;
}






@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: 'RedHatDisplay-Light';
}
